*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white url(peakpx.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-profil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.judul{
    font-family: 'Solway', serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(21,76,121);
    margin-bottom: 10px;
}

.email{
    font-family: 'Solway', serif;
    font-weight: 400;
    font-size: 12px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.ucapan{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Solway', serif ;
    width: 400px;
    height: 70px;
    border: solid #187498 ;
    background-color: #C4DFAA;
    padding: 9px;
    border-radius: 24px;
    margin-bottom: 10px;
}


.text{
    font-family:'Solway', serif ;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}
#instagram{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 400px;
    border: solid #34BE82 ;
    border-radius: 24px;
    color: white;
    margin-bottom: 10px;
    font-family:'Solway', serif ;
    cursor: pointer;
    transition: .4s;

}

#instagram:hover{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 450px;
    border: solid #34BE82 ;
    border-radius: 34px;
    border: solid .5px #34BE82 ;
    margin-bottom: 10px;
    font-family:'Solway', serif ;
    font-size: 20px;
    transition: .4s;
}


#tiktok{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 400px;
    border: solid #34BE82 ;
    border-radius: 34px ;
    color: white;
    margin-bottom: 10px;
    font-family:'Solway', serif ;
    cursor: pointer;
    transition: .4s;
}

#tiktok:hover{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 450px;
    border: solid .5px #34BE82 ;
    border-radius: 34px;

    margin-bottom: 10px;
    font-family:'Solway', serif ;
    font-size: 20px;
    transition: .4s;
}



#youtube{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 400px;
    border: solid #34BE82 ;
    border-radius: 24px;
    margin-bottom: 10px;
    font-family:'Solway', serif ;
    cursor: pointer;
    transition: .4s;
}

#youtube:hover{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 450px;
    border: solid .5px #34BE82 ;
    border-radius: 34px;
    margin-bottom: 10px;
    font-family:'Solway', serif ;
    font-size: 20px;
    transition: .4s;
    background-color: transparent;
}

#spotify{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 400px;
    border: solid #34BE82 ;
    border-radius: 24px;
    color: white;
    margin-bottom: 10px;
    font-family:'Solway', serif ;
    cursor: pointer;
    transition: .4s;
}

#spotify:hover{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 450px;
    border: solid .5px #34BE82 ;
    border-radius: 34px;

    margin-bottom: 10px;
    font-family:'Solway', serif ;
    font-size: 20px;
    transition: .4s;
}

@media screen and (max-width: 600px) {
    .foto-profil{
        height: 70px;
        width: 70px;
    }
    .judul{
        font-size: 14px;
    }
    .ucapan{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:'Solway', serif ;
        width: 230px;
        height: 95px;
        border: solid #187498 ;
        background-color: #C4DFAA;

        border-radius: 24px;
        margin-bottom: 10px;
    }
    #instagram{
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 230px;
        border: solid #34BE82 ;
        border-radius: 24px;
        color: white;
        margin-bottom: 10px;
        font-family:'Solway', serif ;
        cursor: pointer;
        transition: .4s;
    }
    #tiktok{
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 230px;
        border: solid #34BE82 ;
        border-radius: 34px ;
        color: white;
        margin-bottom: 10px;
        font-family:'Solway', serif ;
        cursor: pointer;
        transition: .4s;
    }
    #youtube{
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 230px;
        border: solid #34BE82 ;
        border-radius: 34px ;
        color: white;
        margin-bottom: 10px;
        font-family:'Solway', serif ;
        cursor: pointer;
        transition: .4s;
    }
    #spotify{
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 230px;
        border: solid #34BE82 ;
        border-radius: 34px ;
        color: white;
        margin-bottom: 10px;
        font-family:'Solway', serif ;
        cursor: pointer;
        transition: .4s;
    }
    .text{
        font-family:'Solway', serif ;
        font-size:medium;
        color: whitesmoke;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
